
/* Generic elements styling, (body, buttons, etc) */
body{
    background: #1F2937;
    margin:0%;
    
}
.button1 , .button2 {
    background-color: #3882f6;
    border-radius: 8px;
    color: white ;
    font-weight: bold;
    padding: 8px 24px;
}




.section3{
    background: #E5E7EB;
    margin: 0%;
    }



/* styling for the top header logo and links */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.list {
    display: flex;
    gap: 10px;
    list-style-type: none;
    
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color:#F9FAF8
}

/* styling for section 1 (title section with placeholder image) */
.section1{
    margin-left: 100px;
    margin-right:100px;

}
.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 100px 0px;
}
.title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0%;
    
}
.paragraph {
    font-size: 18px;
    color: #E5E7EB
}

placeholder {
    background-color: lightslategray;
    padding: 80px;
   
}
/* styling for section 2 (information with boxes section) */

.section2 {
    background:white;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
        
}

.information{
    color:#1F2937;
    font-weight: bolder;
    font-size: 36px;
    margin: 25px;
}

.pictures {
    display: flex;
    gap: 16px;
    border: 2px;
    border-color:#3882f6;
    border-style: solid;
    align-items: center;
}

box{
    border-style: solid;
    border-color: #3882f6;
    border: 10px;
}

.section4 {
    background: white;
    margin: 0%;
}